@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  max-width: 2300px;
  padding: 150px;
  height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    background-image: url(./worktreeassets/SEP\ TREE\ \ SAMPLE\ 1.png);
}

.lets-find{
  color: rgba(240, 248, 255, 0.159);
  border: none;
  position: absolute;
  top: 60px;
  left: 10px;
  padding: 20px;
  font-size: 10px;
  opacity: .2;
  background-color: rgba(210, 105, 30, 0.007);
}

/*RED TABS*/
.lets__find{
  color: rgba(245, 222, 179, 0);
  background-color: rgba(255, 0, 0, 0);
  padding: 10px;

}
/*RED TAB-POSITIONS*/

.number1{
  position: absolute;
  top: 180px;
  left: 25px;
}

.number2{
  position: absolute;
  top: 240px;
  left: 125px;
}
.number3{
  position: absolute;
  top:225px ;
  left:560px ;
}
.number4{
  position: absolute;
  top: 390px;
  left:80px;
}
.number5{
  position: absolute;
  top: 55px;
  left:310px;
}
.number6{
  position: absolute;
  top: 410px;
  left:275px;
}
.number7{
  position: absolute;
  top:400px ;
  left:490px;
}
.number8{
  position: absolute;
  top:340px ;
  left:565px;
}
.number9{
  position: absolute;
  top:585px ;
  left:600px;
}
.number10{
  position: absolute;
  top:10px ;
  left:675px;
}
.number11{
  position: absolute;
  top:70px ;
  left:880px;
}
.number12{
  position: absolute;
  top:695px ;
  left:800px;
}
.number13{
  position: absolute;
  top:500px ;
  left:980px;
}
.number14{
  position: absolute;
  top:150px ;
  left:1080px;
}
.number15{
  position: absolute;
  top:390px ;
  left: 1000px;
}
.number16{
  position: absolute;
  top: 490px;
  left: 1280px;
}
.number17{
  position: absolute;
  top:715px ;
  left:1255px ;
}
.number18{
  display: none;
  position: absolute;
  top: ;
  left: ;
}
.number19{
  display: none;
  position: absolute;
  top: ;
  left: ;
}


/*YES/NO*/

.yes-no__wrapper{
  display: flex;
  position: absolute;
}
.yes-no1{
  top: -150px;
  left:20px;
  position: absolute;
  margin: 4px;
  padding:8px 10px;
  border-radius: 15px;
  font-size: 15px;
  padding:5px 12px;
  background-color: rgb(10, 10, 10);
  color:rgba(255, 213, 0, 0.493);
  font-weight: 900;
}
.yes-no2{
  position: absolute;
  top: 155px;
  left: 78px;
  margin: 4px;
  border-radius: 15px;
  font-size: 15px;
  padding:5px 12px;
  background-color: rgb(10, 10, 10);
  color:rgba(255, 213, 0, 0.493);
  font-weight: 900;
  
}
.yes-no3{
  position: absolute;
  top:-115px;
  left: 140px;
  margin: 4px;
  border-radius: 15px;
  font-size: 15px;
  padding:5px 12px;
  background-color: rgb(10, 10, 10);
  color:rgba(255, 213, 0, 0.493);
  font-weight: 900;
  
}
.yes-no4{
  position: absolute;
  margin: 4px;
  left: 203px;
  top: 38px;
  border-radius: 15px;
  font-size: 10px;
  padding:8px 10px;
  border-radius: 15px;
  font-size: 15px;
  background-color: rgb(10, 10, 10);
  color:rgba(255, 213, 0, 0.493);
  font-weight: 900;
  
}
.yes-no5{
  position: absolute;
  top: -160px;
  left: 280px;
  padding:10px 12px;
  border-radius: 15px;
  font-size: 15px;
  padding:5px 12px;
  background-color: rgb(10, 10, 10);
  color:rgba(255, 213, 0, 0.493);
  font-weight: 900;
  
}
.yes-no6{
  position: absolute;
  top: 75px;
  left: 376px;
  padding:12px 10px;
  border-radius: 15px;
  font-size: 15px;
  padding:5px 12px;
  background-color: rgb(10, 10, 10);
  color:rgba(255, 213, 0, 0.493);
  font-weight: 900;
  
}
.yes-no7{
  position: absolute;
  top: -128px;
  left: 440px;
  padding:8px 10px;
  border-radius: 15px;
  font-size: 15px;
  padding:5px 12px;
  background-color: rgb(10, 10, 10);
  color:rgba(255, 213, 0, 0.493);
  font-weight: 900;
}
.yes-no8{
  position: absolute;
  top:-35px;
  left: 611px;
  padding:8px 10px;
  border-radius: 15px;
  font-size: 15px;
  padding:5px 12px;
  background-color: rgb(10, 10, 10);
  color:rgba(255, 213, 0, 0.493);
  font-weight: 900;
}
.yes-no9{
  position: absolute;
  top: -83px;
  left: 740px;
  padding:8px 10px;
  border-radius: 15px;
  font-size: 15px;
  padding:5px 12px;
  background-color: rgb(10, 10, 10);
  color:rgba(255, 213, 0, 0.493);
  font-weight: 900;
}
.yes-no10{
  position: absolute;
  top: 32px;
  left: 805px;
  padding:8px 10px;
  border-radius: 15px;
  font-size: 15px;
  padding:5px 12px;
  background-color: rgb(10, 10, 10);
  color:rgba(255, 213, 0, 0.493);
  font-weight: 900;
  
}
.yes-no11{
  position: absolute;
  top: -89px;
  left: 900px;
  padding:8px 10px;
  border-radius: 15px;
  font-size: 15px;
  padding:5px 12px;
  background-color: rgb(10, 10, 10);
  color:rgba(255, 213, 0, 0.493);
  font-weight: 900;
}
.yes-no12{
  position: absolute;
  top: 483px;
  left: 1047px;
  padding:8px 10px;
  border-radius: 15px;
  font-size: 15px;
  padding:5px 12px;
  background-color: rgb(10, 10, 10);
  color:rgba(255, 213, 0, 0.493);
  font-weight: 900;
}
.yes-no13{
  position: absolute;
  top:142px ;
  left:680px ;
  padding:8px 10px;
  border-radius: 15px;
  font-size: 15px;
  padding:5px 12px;
  background-color: rgb(10, 10, 10);
  color:rgba(255, 213, 0, 0.493);
  font-weight: 900;
}
.yes-no14{
  position: absolute;
  top:333px ;
  left:687px ;
  border-radius: 15px;
  font-size: 15px;
  padding:10px 12px;
  background-color: rgb(10, 10, 10);
  color:rgba(255, 213, 0, 0.493);
  font-weight: 900;
  
}
.yes-no15{
  position: absolute;
  top:-56px;
  left:-75px ;
  border-radius: 15px;
  font-size: 15px;
  padding:10px 12px;
  background-color: rgb(10, 10, 10);
  color:rgba(255, 213, 0, 0.493);
  font-weight: 900;
}
.yes-no16{
  position: absolute;
  top: 446px;
  left: 860px;
  padding:10px 10px;
  border-radius: 15px;
  font-size: 15px;
  background-color: rgb(10, 10, 10);
  color:rgba(255, 213, 0, 0.493);
  font-weight: 900;
  
}
.yes-no17{
  position: absolute;
  left: 973px;
  top: 343px;
  padding:8px 10px;
  border-radius: 15px;
  font-size: 15px;
  padding:5px 12px;
  background-color: rgb(10, 10, 10);
  color:rgba(255, 213, 0, 0.493);
  font-weight: 900;
}
.yes-no18{
  position: absolute;
  left:1075px ;
  top:262px ;
  padding:8px 10px;
  border-radius: 15px;
  font-size: 15px;
  padding:5px 12px;
  background-color: rgb(10, 10, 10);
  color:rgba(255, 213, 0, 0.493);
  font-weight: 900;
  
}
.yes-no19{
  position: absolute;
  top: -13px;
  left: 35px;
  padding:8px 10px;
  border-radius: 15px;
  font-size: 15px;
  padding:5px 12px;
  background-color: rgb(10, 10, 10);
  color:rgba(255, 213, 0, 0.493);
  font-weight: 900;
}
.yes-no20{
  position: absolute;
  top: 25px;
  left: 88px;
  padding:9px 10px;
  border-radius: 15px;
  font-size: 15px;
  background-color: rgb(10, 10, 10);
  color:rgba(255, 213, 0, 0.493);
  font-weight: 900;
  
}
.yes-no21{
  position: absolute;
  left:-10px ;
  top: 138px;
  padding:10px 10px;
  border-radius: 15px;
  font-size: 15px;
  background-color: rgb(10, 10, 10);
  color:rgba(255, 213, 0, 0.493);
  font-weight: 900;
  
}
.yes-no22{
  position: absolute;
  left: 123px;
  top: -195px;
  padding:8px 10px;
  border-radius: 15px;
  font-size: 15px;
  background-color: rgb(10, 10, 10);
  color:rgba(255, 213, 0, 0.493);
  font-weight: 900;
}
.yes-no23{
  position: absolute;
  top: 135px;
  left: 305px;
  border-radius: 15px;
  font-size: 15px;
  padding:10px 12px;
  background-color: rgb(10, 10, 10);
  color:rgba(255, 213, 0, 0.493);
  font-weight: 900;
}
.yes-no24{
  position: absolute;
  top:-69px ;
  left:215px ;
  padding:8px 10px;
  border-radius: 15px;
  font-size: 15px;
  padding:5px 12px;
  background-color: rgb(10, 10, 10);
  color:rgba(255, 213, 0, 0.493);
  font-weight: 900;
}
.yes-no25{
  position: absolute;
  top: -32px;
  left: 463px;
  padding:8px 10px;
  border-radius: 15px;
  font-size: 15px;
  padding:5px 12px;
  background-color: rgb(10, 10, 10);
  color:rgba(255, 213, 0, 0.493);
  font-weight: 900;
  
}
.yes-no26{
  position: absolute;
  top: -232px;
  left: 481px;
  padding:8px 10px;
  border-radius: 15px;
  font-size: 15px;
  padding:5px 12px;
  background-color: rgb(10, 10, 10);
  color:rgba(255, 213, 0, 0.493);
  font-weight: 900;
  
}
.yes-no27{
  position: absolute;
  top:-180px ;
  left:695px ;
  padding:8px 10px;
  border-radius: 15px;
  font-size: 15px;
  padding:5px 12px;
  background-color: rgb(10, 10, 10);
  color:rgba(255, 213, 0, 0.493);
  font-weight: 900;
}
.yes-no28{
  position:absolute;
  left: 508px;
  top: 330px;
  border-radius: 15px;
  font-size: 15px;
  padding:10px 12px;
  background-color: rgb(10, 10, 10);
  color:rgba(255, 213, 0, 0.493);
  font-weight: 900;
  
}
.yes-no29{
  position: absolute;
  left:725px ;
  top: 450px;
  padding:8px 10px;
  border-radius: 15px;
  font-size: 15px;
  padding:5px 12px;
  background-color: rgb(10, 10, 10);
  color:rgba(255, 213, 0, 0.493);
  font-weight: 900;
  
}
.yes-no30{
  position: absolute;
  left: 800px;
  top:142px ;
  border-radius: 15px;
  font-size: 15px;
  padding:5px 12px;
  background-color: rgb(10, 10, 10);
  color:rgba(255, 213, 0, 0.493);
  font-weight: 900;
}
.yes-no31{
  position: absolute;
  left: 878px;
  top:253px ;
  border-radius: 100px;
  font-size: 15px;
  padding:8px 10px;
  background-color: rgb(10, 10, 10);
  color:rgba(255, 213, 0, 0.493);
  font-weight: 900;
}

.yes-no32{
  color: rgba(0, 0, 0, 0);
}

.dummy-section{
  height: 100vh;
  color: rgba(255, 255, 255, 0);
  

}

.dummy-section-2{
height:8vh;
margin: 45vh;
width: 150vh;
background-color: rgba(0, 0, 0, 0);
}
marquee{
  box-shadow: rgb(205, 194, 133) 1px 1px 10px 10px;
  margin:0 auto;
  border-radius: 100px;
  color: rgb(184, 103, 27);
  background-color: rgba(255, 0, 0, 0.201);
  position: absolute;
  top: 500px;
  max-width: 400px;
  font-weight: 900;
  font-style: italic;
}
.yes-no1:hover{
  border: solid orange;
  transition: all ease 300ms;
}
.yes-no2:hover{
  border: solid orange;
}
.yes-no3:hover{
  border: solid orange;
}
.yes-no4:hover{
  border: solid orange;
}
.yes-no5:hover{
  border: solid orange;
}
.yes-no6:hover{
  border: solid orange;
}
.yes-no7:hover{
  border: solid orange;
}
.yes-no8:hover{
  border: solid orange;
}
.yes-no9:hover{
  border: solid orange;
}
.yes-no10:hover{
  border: solid orange;
}
.yes-no11:hover{
  border: solid orange;
}
.yes-no12:hover{
  border: solid orange;
}
.yes-no13:hover{
  border: solid orange;
}
.yes-no14:hover{
  border: solid orange;
}
.yes-no15:hover{
  border: solid orange;
}
.yes-no16:hover{
  border: solid orange;
}
.yes-no17:hover{
  border: solid orange;
}
.yes-no18:hover{
  border: solid orange;
}
.yes-no19:hover{
  border: solid orange;
}
.yes-no20:hover{
  border: solid orange;
}
.yes-no21:hover{
  border: solid orange;
}
.yes-no22:hover{
  border: solid orange;
}
.yes-no23:hover{
  border: solid orange;
}
.yes-no24:hover{
  border: solid orange;
}
.yes-no25:hover{
  border: solid orange;
}
.yes-no26:hover{
  border: solid orange;
}
.yes-no27:hover{
  border: solid orange;
}
.yes-no28:hover{
  border: solid orange;
}
.yes-no29:hover{
  border: solid orange;
}
.yes-no30:hover{
  border: solid orange;
}
.yes-no31:hover{
  border: solid orange;
}
